/* Header background */
.jqx-grid-column-header {
    background: #391e9b !important;
    color: #fff !important;
    text-align: center;
}

/* Left-aligned cell content */
.jqx-grid-cell-left-align {
    color: red !important;
    font-weight: bold !important;
    text-align: center;
}


  